* {
  margin: 0;
}
/* Styling Header  */
.header {
  background-image: url(/image/donation3.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 175px 175px;
}
.header-title {
  color: white;
  font-weight: 700;
  font-size: 64px;
  padding: 0px 122px;
}
.header-content {
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 28px 231px;
}
.btn-primary {
  background-color: #fe5959;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
}

/* Styling donate today    */
.donate-today {
  text-align: center;
  padding: 105px 266px;
}
.donate-today input {
  text-align: center;
  border: none;
  padding: 0px 271px;
  display: flex;
  margin: 35px 0px 36px 62px;
  border-bottom: 2px solid black;
}

.donate-today-title {
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 15px;
}
.donate-today-subtitle {
  color: #c1c1c1;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 68px 31px 100px;
}
.donation-today-money-button {
  background-color: whitesmoke; /* Green */
  border: none;
  color: black;
  padding: 50px 50px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.donation-today-money-button:hover {
  background-color: rgb(201, 123, 123);
  color: rgb(27, 25, 25);
}
/* Styling the our donation plan  */
.our-donate-plan {
  text-align: center;
  padding: 105px 266px;
}
.our-donate-plan-title {
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 15px;
}
.donate-today-subtitle {
  color: #c1c1c1;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 68px 31px 100px;
}
.our-donate-plan-method {
  display: flex;
  gap: 25px;
  
}
.our-donate-plan h2,
p {
  text-align: left;
}

.our-donate-plan-method-one img {
  height: 40px;
  width: 40px;
  position: left;
  padding: 50px 232px 36px 0px;
}
.our-donate-plan-method-two img {
  height: 40px;
  width: 40px;
  position: left;
  padding: 50px 232px 36px 0px;
}
.our-donate-plan-method-three img {
  height: 40px;
  width: 40px;
  position: left;
  padding: 50px 232px 36px 0px;
}
.our-donate-plan-method-one h2 {
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 20px;
}
.our-donate-plan-method-one p {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.our-donate-plan-method-two p {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.our-donate-plan-method-three p {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.our-donate-plan-method-two h2 {
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 20px;
}
.our-donate-plan-method-three h2 {
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 20px;
}
.our-donate-plan-method-one {
  background-color: #edf5f6;
  border-radius: 10px;
}
.our-donate-plan-method-two {
  background-color: #ffeeee;
  border-radius: 10px;

}
.our-donate-plan-method-three {
  background-color: #fff4d6;
  border-radius: 10px;

}

.our-donate-plan-method img , h2, p{
    padding-left: 20px;

}

/* Styling lives depend on us  */
.lives-depend-on-donation{
  display: flex;
  gap: 70px;
  padding: 0px 200px 0px 200px;
}
.live-depend-on-donation-image img{
  height: 430px;
  width: 450px;
  border-radius: 5px;
}
.live-depend-on-donation-banner h1{
  margin-top: 55px;
  font-weight:700;
  font-size: 45px;
  text-align: left;
}
.live-depend-on-donation-banner h4{
  
  font-weight:400;
  font-size: 18px;
  color: #625959;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
}
.live-depend-on-donation-btn{
  border:none;
  background-color: #fe5959;
  padding: 20px 20px;
  border-radius: 5px;
  color: white;
  font-size:  15px;
}
/* Styling they need us  */
.they-need-us{
  margin-top: 100px;
}