* {
  margin: 0;
}
/* Styling Header  */
.header {
  background-image: url(/image/donation3.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 175px 175px;
}
.header-title {
  color: white;
  font-weight: 700;
  font-size: 64px;
  padding: 0px 122px;
}
.header-content {
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 28px 231px;
}
.btn-primary {
  
    background-color: #FE5959;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;

}
